Dmitriy Siniehin <dmitriy.siniehin@idealscorp.com> Design-team-repo <dmitriy.siniehin@idealscorp.com>
Dmitriy Siniehin <dmitriy.siniehin@idealscorp.com> Dmitriy Sinegin <sinegindmitriy@gmail.com>
Yuliia Porokhivnyk <yuliia@ideal-designers.com> yuliaporokhivnyk-ui <yulia.porokhivnyk@idealscorp.com>
Nikita Tonkonozhenko <nikita.tonkonozhenko@idealscorp.com> nikitatonkonozhenko-hue <nikita.tonkonozhenko@idealscorp.com>
